* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 800px;
  right: 20px;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  background: rgb(52, 6, 233);
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  visibility: none;
  display: none;
  opacity: 0;
  /* cursor: pointer; */
  transition: 0.3s;
  z-index: 10000;
}
.fa.active {
  visibility: visible;
  display: flex;
  opacity: 1;
  bottom: 25px;
  cursor: pointer;
}

.sec1 {
  position: relative;
  min-height: 76vh;
  width: 100%;
  background: #fff;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  margin-bottom: 2rem;
  /* border-bottom: 0.1rem solid #ccc; */
}

.menuBar {
  position: fixed;
  top: 0;
  left: 120%;
  height: 100%;
  width: 80%;
  /* background: red; */
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.menuBar.active {
  left: 20%;
}

.menuBar ul {
  list-style-type: none;
}

.menuBar ul li {
  margin: 5rem 0;
}

.menuBar ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem;
  transition: 0.5s;
  background: #e66060;
  padding: 1rem 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.menuBar ul li a:hover {
  color: #e66060;
  background: #fff;
}

.navBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.logo h1 {
  margin: 0 0.8rem 0 0;
}

.sec1__menuIcon {
  display: none;
  position: relative;
  height: 3rem;
  width: 3rem;
  background: url("https://i.ibb.co/ccyJDPg/icons8-menu-24.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.5s;
}

.sec1__menuIcon.active {
  background: url("https://i.ibb.co/G9TDqVj/icons8-macos-close-32.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.navBar .logo h1 {
  color: #000;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.navBar .navBar__menu ul {
  display: flex;
  list-style-type: none;
}

.navBar .navBar__menu ul li {
  margin: 1rem;
}

.navBar .navBar__menu ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #000;
  transition: 0.3s;
}

.navBar .navBar__menu ul li a:before {
  background: rgb(131, 130, 132);
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 0.4rem;
  width: 0%;
  border-radius: 1rem;
  transition: 0.4s;
}

.navBar .navBar__menu ul li a:hover:before {
  width: 100%;
}

.navBar .navBar__menu ul li a:hover {
  color: rgb(10, 18, 239);
}

.sec1__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8rem;
  /* background: rgb(231, 231, 238); */
  width: 100%;
  padding: 0 4rem;
}

.sec1__content {
  margin: 0 6rem 0 0;
}

.sec1__contentHider h1 {
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: capitalize;
  transform: translateY(7rem);
}

.sec1__contentHider {
  overflow: hidden;
}

.sec1_content .sec1_contentDetail h1 span {
  color: rgb(182, 219, 14);
}

.sec1_content .sec1_contentDetail {
  margin-bottom: 3rem;
}

.sec1__content a {
  background: rgb(226, 69, 69);
  color: #fff;
  text-decoration: none;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: 0.4s;
}

.sec1__content a:hover {
  background: rgb(216, 43, 43);
}

.sec1__imgContainer {
  position: relative;
}

.sec1__imgBx {
  position: relative;
  width: 50rem;
  /* background: red; */
}

.sec1__design3 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: linear-gradient(rgb(15, 139, 235), rgb(185, 10, 234));
}

.sec1__design4 {
  content: "";
  position: absolute;
  top: 40%;
  left: -10%;
  height: 40%;
  width: 40%;
  border-radius: 30% 50%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(rgb(185, 10, 234), rgb(15, 139, 235));
  animation: animate3 ease-in-out 2s infinite;
}

@keyframes animate3 {
  0% {
    transform: translateY(-3rem);
  }

  50% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(-3rem);
  }
}

.sec1__imgBx img {
  position: relative;
  z-index: 1;
  width: 100%;
  /* mix-blend-mode: multiply; */
  object-fit: cover;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

/* .sec1_imgBx .sec1_design1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 10rem;
  background: linear-gradient(rgb(30, 144, 220), rgb(184, 27, 176));
  border-radius: 5rem 10rem 5rem 10rem;
  filter: blur(6px);
  animation: animate 3s ease-in-out infinite;
  z-index: 1000;
}

@keyframes animate {
  0% {
    transform: translateX(0rem);
  }

  50% {
    transform: translateX(2rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

.sec1_imgBx .sec1_design2 {
  position: absolute;
  bottom: 2rem;
  right: 0;
  height: 10rem;
  width: 10rem;
  background: linear-gradient(rgb(107, 230, 255), rgb(227, 17, 202));
  border-radius: 2rem;
  filter: blur(2px);
  animation: animate2 ease-in-out 5s infinite;
  z-index: 1000;
}

@keyframes animate2 {
  0% {
    transform: translateY(0rem) rotateZ(0deg);
  }

  50% {
    transform: translateY(-2rem) rotateZ(360deg);
  }

  100% {
    transform: translateY(0rem) rotateZ(0deg);
  }
} */

.sec2 {
  position: relative;
  min-height: 85vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: radial-gradient(rgb(102, 155, 216), rgb(227, 209, 241));
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.2rem solid rgb(218, 218, 218);
}

.sec2__heading {
  overflow: hidden;
}

.sec2__heading h2 {
  position: relative;
  font-size: 5rem;
  color: #333;
  text-transform: capitalize;
}

.sec2__heading h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.2rem;
  width: 100%;
  background-color: rgb(241, 102, 102);
}

.sec2__container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 5rem;
}

.sec2__aboutme1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 0.5;
}

.sec2__aboutme1Img {
  margin-top: 2rem;
  position: relative;
  width: 10rem;
  overflow: hidden;
  border: 0.3rem solid rgb(242, 49, 232);
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sec2__aboutme1Img:hover {
  transform: scale(1.1);
}

.sec2__aboutme1Img img {
  width: 100%;
  object-fit: cover;
  background: linear-gradient(rgb(185, 10, 234), rgb(15, 139, 235));
  border-radius: 50%;
}

.sec2__aboutme1 h2 {
  position: relative;
  margin-top: 1rem;
  font-size: 2rem;
  color: #333;
  padding-bottom: 1rem;
}

/* .sec2__aboutme1 h2:before {
  position: absolute;
  height: 0.2rem;
  width: 60%;
  bottom: 0;
  right: 25%;
  content: "";
  background: #ccc;
} */

.sec2__aboutme1Social ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.sec2__aboutme1Social ul li {
  margin: 0.5rem 1.3rem;
  transition: 0.3s;
}

.sec2__aboutme1Social ul li a {
  text-decoration: none;
  color: #333;
  font-size: 3rem;
  transition: 0.3s;
}

.sec2__aboutme1Social ul li:hover {
  transform: translateY(-0.4rem);
}

.sec2__aboutme1Social ul li a:hover {
  color: rgb(36, 9, 237);
}

.sec2__aboutme2 {
  position: relative;
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec2__aboutme2 p {
  font-size: 1.8rem;
}

.sec3 {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  background: radial-gradient(#333, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sec3 h1 {
  position: relative;
  margin: 6rem 0 4rem;
  color: #fff;
  font-size: 5rem;
  border-bottom: 0.2rem solid rgb(235, 102, 102);
}

.sec3__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.sec3_box .sec3_percent svg {
  position: relative;
  width: 15rem;
  height: 15rem;
  z-index: 1000;
}

.sec3_box .sec3_percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #10e63f;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(0.5rem, 0.5rem);
}

/* .sec3__percent svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.sec3_card:nth-child(1) .sec3box .sec3_percent svg circle:nth-child(2) {
  stroke: #00ff43;
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.sec3_card:nth-child(2) .sec3box .sec3_percent svg circle:nth-child(2) {
  stroke: #e66060;
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
}

.sec3_card:nth-child(3) .sec3box .sec3_percent svg circle:nth-child(2) {
  stroke: #6074e6;
  stroke-dashoffset: calc(440 - (440 * 55) / 100);
} */

.sec3__card {
  position: relative;
  background: rgb(27, 26, 26);
  padding: 3rem 6rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
  margin: 2rem;
}

.sec3_card .sec3_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec3__card:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(225, 225, 225, 0.05);
  z-index: 1;
  transition: 0.3s;
}

/* .sec3__card:hover:before {
  transform: translateX(50%);
  width: 90%;
} */

.sec3__percent {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  z-index: 1;
  background-color: #000;
  box-shadow: 0 0 2rem rgb(5, 218, 26);
}

.sec3__percent .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1000;
}

.sec3__percent h2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1000;
}

.number h2 {
  color: rgba(255, 255, 255, 0.845);
  font-size: 4rem;
  font-weight: 900;
  transition: 0.3s;
}

.number h2 span {
  font-size: 2rem;
  transition: 0.3s;
}

/* .sec3__text {
  align-content: center;
  align-items: center;
} */

.sec3__card:hover .number h2 span {
  font-size: 1.5rem;
  color: #fff;
}

.sec3__text {
  color: rgba(255, 255, 255, 0.845);
  font-size: 2rem;
  font-weight: 900;
  margin-top: 3rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.sec3_card:hover .sec3_text {
  color: #fff;
}

.sec3__card:hover .number h2 {
  color: #fff;
  transform: scale(1.2);
}

.sec3__card:hover {
  transform: translateY(-1rem);
}

.sec4 {
  overflow: hidden;
  position: relative;
  min-height: 70vh;
  width: 100%;
  background: radial-gradient(#1c38c8a9, #397386);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec4__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.sec4__box1 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex: 0.5;
}

.sec4__content1 {
  margin-bottom: 1rem;
}

.sec4__content1 h2 {
  color: #fff;
  font-size: 3rem;
  border-bottom: 0.2rem solid #ff7b7b;
  width: fit-content;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.sec4__content1 h2 span {
  color: #ff6060;
}

.sec4__content1 p {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
}

.sec4__content2Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.sec4__content2Icon h2 {
  margin-left: 0.5rem;
}

.sec4__content2 {
  margin: 0.5rem 0;
}

.sec4__content3 ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style-type: none;
  margin-top: 1rem;
}

.sec4__content3 ul li {
  margin: 0 1.5rem 0 0;
}

.sec4__content3 ul li a {
  color: #fff;
  font-size: 2rem;
  border: 0.2rem solid #fff;
  padding: 0.4rem;
  border-radius: 20%;
  transition: 0.3s;
}

.sec4__content3 ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.sec4__box2 h2 {
  color: #fff;
  font-size: 3rem;
  border-bottom: 0.2rem solid #ff8282;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.sec4__links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
}

.sec4__links ul li {
  margin: 0.5rem 0;
}

.sec4__links ul li a {
  color: #ddd;
  transition: 0.3s;
  text-decoration: none;
  font-size: 1.5rem;
}

.sec4__links ul li a:hover {
  color: #fff;
}

.prohead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.sec4__box3 h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  border-bottom: 0.2rem solid #ff7d7d;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
}

.sec4__box3 form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sec4__box3 form input {
  border: none;
  outline: none;
  background: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: 3rem;
  /* margin-bottom: 2.5rem; */
}

.sec4__box3 form input::placeholder {
  color: #222;
  font-size: 1.2rem;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.project {
  width: 350px;
  margin: 10px 10px;
}

.project p {
  margin: 10px 10px;
  font-size: 15px;
  color: #fff;
}

.projectImg {
  width: 320px;
  height: 240px;
  padding: 0;
  margin: 10px;
  object-fit: cover;
  object-position: left;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec4__box3 button {
  border: none;
  background: none;
  outline: none;
  padding: 0.7rem 2rem;
  color: #fff;
  background: #1808f3;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.3s;
  border-radius: 3rem;
  margin-bottom: 3rem;
}

.sec4__box3 button:hover {
  color: #000;
  font-weight: 700;
  font-size: 1.6rem;
  background: rgb(12, 240, 69);
}

/* media query start here  */
@media (max-width: 520px) {
  .sec2__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 2rem;
  }
}

@media (max-width: 412px) {
  .sec1__menuIcon {
    display: inline-block;
  }

  .sec1__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    /* background: blue; */
    width: 100%;
    padding: 0 2rem;
  }

  /* .navBar__menu {
    display: none;
  } */

  .sec1__content {
    margin: 0;
  }

  .sec1__contentHider h1 {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: capitalize;
    transform: translateY(7rem);
  }

  .sec1__imgBx {
    position: relative;
    width: 37rem;
    /* background: red; */
    margin-top: 5rem;
  }

  .sec2__heading h2 {
    position: relative;
    /* font-size: 2.5rem; */
    color: #333;
    text-transform: capitalize;
  }

  .sec2__aboutme1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0.5;
    margin: 0 0 5rem 0;
  }

  .sec2__aboutme2 {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 3rem 0;
  }

  .sec4__box1 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    flex: 0.5;
    margin: 2.5rem 0 4rem 0;
  }

  .sec4__box2 {
    margin: 2.5rem 0;
  }
}
